@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #000; /* initial black */
  color: inherit;
  transition: background-color 1s ease-in-out;
}

body.loaded {
  background-color: transparent;
}

.hover-mask-effect {
  --_g: 10% /45% 45% no-repeat linear-gradient(#000 0 0);
  --m: left var(--_i, 0%) top var(--_g), bottom var(--_i, 0%) left var(--_g),
    top var(--_i, 0%) right var(--_g), right var(--_i, 0%) bottom var(--_g);
  -webkit-mask: var(--m);
  mask: var(--m);
  outline: 100vmax solid #00b4ff;
  outline-offset: -100vmax;
  transition: 0.3s linear;
  cursor: pointer;
}
.hover-mask-effect:hover {
  --_i: 10%;
  outline-color: transparent;
}

/* Center caption text in Yet Another React Lightbox */
.yal-caption,
.yal-caption-content {
  text-align: center;
}
