@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  background-color: #000; /* initial black */
  color: inherit;
  transition: background-color 1s ease-in-out;
}

body.loaded {
  background-color: transparent;
}
